<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarHospital(input.value);" type="text" class="form-control" placeholder="Buscar Hospital">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInLeft" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Hospitales registrados ( <small>{{totalRegistros}}</small> )</h3>
                <button class="btn btn-success" style="float: right;" type="button" (click)="sweetNew();"><i class="fa fa-plus"></i> Crear Hospital</button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td><img [src]="hospital.img | imagen:'hospital'" class="img-50 img-circle pointer" (click)="mostrarModal(hospital._id);"></td>
                            <td><input [(ngModel)]="hospital.nombre" name="nombre" class="form-control"></td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="guardarHospital(hospital);">
                                <i class="fa fa-save"></i>
                              </button>
                                <button type="button" class="btn btn-danger" (click)="borrarHospital(hospital)">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" (click)="cargarDesde(-5);" class="btn btn-secondary">Anteriores</button>
                <button type="button" (click)="cargarDesde(5);" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>