<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [datos]="graficos.grafico1.data" [etiquetas]="graficos.grafico1.labels" [tipo]="graficos.grafico1.type"></app-grafica-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [datos]="graficos.grafico2.data" [etiquetas]="graficos.grafico2.labels" [tipo]="graficos.grafico3.type"></app-grafica-dona>
            </div>
        </div>
    </div>
</div>