<div class="fondo-negro animated fadeInLeft" [ngClass]="_modalUpService.oculto">
    <div class="modal" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" aria-label="Close" (click)="cerrarModal();">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <img [src]="'xxx' | imagen" class="iw150" *ngIf="!imagenAux">
                    <img [src]="imagenAux" class="iw150" *ngIf="imagenAux">
                    <input (change)="seleccionImagen($event.target.files[0]);" type="file" id="firstName" class="form-control" placeholder="John doe">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" [disabled]="!imagenAux" (click)="subirImagen();">Subir imagen</button>
                    <button type="button" class="btn btn-secondary" (click)="cerrarModal();">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>